extends partials/layout

block vars
  - const title = 'Amazon Crawl';
  - const pageID = 'product';

block eod
  script
    +loadModule('pages/product.js')

block content
  section.pc-section
    main.pc-container        
      if error
        div.pc-product-error
          p.pc-margin-vertical Oops there is an error, try again
          p= error
      else
        ul.pc-breadcrumb.pc-margin-horizontal.pc-margin-vertical
          li
            a(href='/') Home
          each breadcrumb in product.breadCrumbs  
            li
              a(href=breadcrumb.link)= breadcrumb.name
        div.pc-product
          .pc-product-top
            .pc-product-image
              img(src=product.mainImage)
            .pc-product-info
              h3.pc-text-secondary= product.name
              b.pc-margin-top= product.price || 'Currently unavailable'
              a(href=product.byLineInfo.link)= product.brand
              b.pc-text-bold= product.customerReview
              p.pc-margin-vertical.pc-text-secondary= product.description
              span.pc-margin-top.pc-text-bold Seller 
                | 
                a.pc-text-light.pc-margin-small-left(href=product.soldBy.link) #{product.soldBy.name}
              span.pc-text-bold Prime
                | 
                span.pc-text-light.pc-margin-small-left #{product.isPrime ? 'Yes' : 'No'}
              span.pc-text-bold Stock
                | 
                span.pc-text-light.pc-margin-small-left #{product.inStock ? 'Yes' : 'No'}
      
          .pc-product-gallery
            each image in product.images
              img.pc-image(src=image)

          .pc-features
            h1.pc-feature-title Features
            ul
              each feature in product.features
                li.pc-margin-vertical= feature

          .pc-product-info
            each productInfo in product.productInformation 
              .pc-product-info-bar
                span= productInfo.name
                span= productInfo.value
          
          .pc-product-reviews.pc-margin-vertical
            .pc-review-title
              h3.pc-margin-vertical Customer Reviews
            .pc-reviews
              each review in product.reviews
                .pc-review-cards
                  .pc-review-card-body
                    .pc-card-header
                      h3= review.reviewerName
                        | 
                        if review.reviewVerifiedPurchase 
                          span.pc-text-small.pc-text-success Verified
                        else   
                          span.pc-text-small.pc-text-muted UnVerified
                      span.pc-margin-small-bottom= review.reviewRating
                    span.pc-margin-small-bottom= review.reviewDate
                    span.pc-margin-small-bottom= review.reviewTitle
                    span.pc-margin-small-bottom #{review.reviewText.substring(0,500)} 
                      |
                      br
                      a(href="#") Read More ...
                    span= review.reviewVotes
