extends partials/layout

block vars
  - const title = 'Amazon Crawl';
  - const pageID = 'product';

block eod
  script
    +loadModule('pages/product.js')

block content
  section.pc-section.pc-light.pc-background-secondary.pc-padding(pc-height-viewport="offset-top: true")
    main.pc-container
      ul.pc-breadcrumb
        li
          a(href='/') Home
        each breadcrumb in product.breadCrumbs  
          li
            a(href=breadcrumb.link)= breadcrumb.name
      div.pc-flex.pc-flex-column.pc-flex-middle.pc-flex-center
        div.pc-flex.pc-flex-column.pc-flex-middle
          if error
            p Ups there is an error, try again
            p= error
          else
            div.pc-margin-bottom(pc-grid='')
              .pc-width-auto(pc-scrollspy="cls: pc-animation-slide-left-small; repeat: true")
                img(src=product.mainImage)
              .pc-width-expand.pc-flex.pc-flex-column(pc-scrollspy="cls: pc-animation-slide-right-small; repeat: true")
                b= product.name
                b.pc-margin-top= product.price || 'Currently unavailable'
                a(href=product.byLineInfo.link)= product.brand
                b= product.customerReview
                p= product.description
                span.pc-text-bold Seller 
                  | 
                  a.pc-text-light.pc-margin-small-left(href=product.soldBy.link) #{product.soldBy.name}
                span.pc-text-bold Prime
                  | 
                  span.pc-text-light.pc-margin-small-left #{product.isPrime ? 'Yes' : 'No'}
                span.pc-text-bold Stock
                  | 
                  span.pc-text-light.pc-margin-small-left #{product.inStock ? 'Yes' : 'No'}
              .pc-flex.pc-flex-center(pc-scrollspy="cls: pc-animation-slide-bottom-small; repeat: true; delay: 200")
                each image in product.images
                  div
                    img(data-src=image width='' height='' alt='' pc-img='')

              article.pc-article(pc-scrollspy="cls: pc-animation-slide-bottom-small; repeat: true")
                h1.pc-article-title
                  a.pc-link-reset Features
                each feature in product.features
                  ul
                    li= feature

          .pc-flex.pc-margin-bottom(pc-grid='')(pc-scrollspy="cls: pc-animation-slide-bottom-small; repeat: true; delay: 100")
            each productInfo in product.productInformation 
              .pc-width-1-2.pc-margin-small.pc-flex-middle
                span= productInfo.name
              .pc-width-1-2.pc-margin-small.pc-flex-middle
                span= productInfo.value
          
          h3.pc-margin-top Customer Reviews
          .pc-flex(pc-grid='')
            each review in product.reviews
              .pc-width-1-2(pc-scrollspy="cls: pc-animation-slide-bottom-small; repeat: true; delay: 100")
                .pc-card.pc-card-body(style='background:#0003')
                  .pc-flex.pc-flex-column
                    .pc-flex.pc-flex-between.pc-flex-middle
                      h3.pc-card-title.pc-margin-small-bottom= review.reviewerName
                        | 
                        if review.reviewVerifiedPurchase 
                          span.pc-text-success(pc-icon="icon: check")
                        else   
                          span.pc-text-muted(pc-icon="icon: close")
                      span.pc-margin-small-bottom= review.reviewRating
                    span.pc-margin-small-bottom= review.reviewDate
                    span.pc-margin-small-bottom= review.reviewTitle
                    span.pc-margin-small-bottom= review.reviewText
                    span= review.reviewVotes
